/* 由 F12 开发人员工具生成。这可能不是原始源文件的准确表示形式。*/
BODY {
	FONT-FAMILY: "瀹浣", Arial; VERTICAL-ALIGN: baseline; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H1 {
	FONT-FAMILY: "瀹浣", Arial; VERTICAL-ALIGN: baseline; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H2 {
	FONT-FAMILY: "瀹浣", Arial; VERTICAL-ALIGN: baseline; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H3 {
	FONT-FAMILY: "瀹浣", Arial; VERTICAL-ALIGN: baseline; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H4 {
	FONT-FAMILY: "瀹浣", Arial; VERTICAL-ALIGN: baseline; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H5 {
	FONT-FAMILY: "瀹浣", Arial; VERTICAL-ALIGN: baseline; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H6 {
	FONT-FAMILY: "瀹浣", Arial; VERTICAL-ALIGN: baseline; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
P {
	FONT-FAMILY: "瀹浣", Arial; VERTICAL-ALIGN: baseline; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
UL {
	FONT-FAMILY: "瀹浣", Arial; VERTICAL-ALIGN: baseline; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
OL {
	FONT-FAMILY: "瀹浣", Arial; VERTICAL-ALIGN: baseline; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
LI {
	FONT-FAMILY: "瀹浣", Arial; VERTICAL-ALIGN: baseline; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DL {
	FONT-FAMILY: "瀹浣", Arial; VERTICAL-ALIGN: baseline; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DT {
	FONT-FAMILY: "瀹浣", Arial; VERTICAL-ALIGN: baseline; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
DD {
	FONT-FAMILY: "瀹浣", Arial; VERTICAL-ALIGN: baseline; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
INPUT {
	FONT-FAMILY: "瀹浣", Arial; VERTICAL-ALIGN: baseline; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
TEXTAREA {
	FONT-FAMILY: "瀹浣", Arial; VERTICAL-ALIGN: baseline; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
BUTTON {
	FONT-FAMILY: "瀹浣", Arial; VERTICAL-ALIGN: baseline; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
FORM {
	FONT-FAMILY: "瀹浣", Arial; VERTICAL-ALIGN: baseline; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
SELECT {
	FONT-FAMILY: "瀹浣", Arial; VERTICAL-ALIGN: baseline; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
OPTION {
	FONT-FAMILY: "瀹浣", Arial; VERTICAL-ALIGN: baseline; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
table, td{ border-spacing:0!important; padding:0; font-size:12px;}
BODY {
	FONT-SIZE: 12px; FONT-FAMILY:arial,sans-serif;
	 BACKGROUND-IMAGE: url(images/bg.gif); 
	 COLOR: #666666; 
	 TEXT-ALIGN: center;
	  BACKGROUND-COLOR: #f2f2f2
}
A {
	TEXT-DECORATION: none;
	 VERTICAL-ALIGN: baseline;
	 COLOR: #000000; 
	 OUTLINE-STYLE: none; _zoom: 1
}
A:hover {
	TEXT-DECORATION: none; COLOR: #e10101
}
.a1 {
	FONT-SIZE: 14px; TEXT-DECORATION: none; VERTICAL-ALIGN: baseline; COLOR: #ffffff; OUTLINE-STYLE: none; _zoom: 1
}
.a1:hover {
	TEXT-DECORATION: none; COLOR: #ffffff
}
INPUT {
	VERTICAL-ALIGN: middle; OUTLINE-STYLE: none; resize: none
}
TEXTAREA {
	VERTICAL-ALIGN: middle; OUTLINE-STYLE: none; resize: none
}
IMG {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 0px
}
.clearfix:after {
	HEIGHT: 0px; CONTENT: "."; CLEAR: both; DISPLAY: block; VISIBILITY: hidden
}
* HTML .clearfix {
	HEIGHT: 1%
}
* + HTML .clearfix {
	HEIGHT: 1%
}
.clearfix {
	DISPLAY: inline-block
}
.clearfix {
	DISPLAY: block
}
#container {
	WIDTH: 1000px; MARGIN: 0px auto;
	BACKGROUND: #ffffff; TEXT-ALIGN: left;
}
#header {
	WIDTH: 1000px; MARGIN: 0px auto
}
#wrapper {
	WIDTH: 1000px; MARGIN: 0px auto
}
#footer {
	WIDTH: 1000px; MARGIN: 0px auto
}
#wrapper {
	BACKGROUND: #fff; CLEAR: both
}
#header {
	
}
.biaoti {
	FONT-SIZE: 22px; FONT-WEIGHT: bold; COLOR: #53575a; PADDING-TOP: 12px; LINE-HEIGHT: 2em
}
.biaoti3 {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #ffffff
}
.biaoti31 {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #ffffff
}
.biaoti32 {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #165ca3
}
.biaoti4 {
	FONT-SIZE: 13px; FONT-WEIGHT: bold; COLOR: #ffffff
}
.biaoti41 {
	FONT-SIZE: 13px; FONT-WEIGHT: bold; COLOR: #71950e
}
.biaoti5 {
	FONT-SIZE: 13px; FONT-WEIGHT: bold; COLOR: #ffffff
}
.biaoti51 {
	FONT-SIZE: 13px; FONT-WEIGHT: bold; COLOR: #002859
}
A.wlink {
	FONT-SIZE: 14px; FONT-WEIGHT: normal; COLOR: #ffffff
}
A.wlink:hover {
	FONT-SIZE: 14px; FONT-WEIGHT: normal; COLOR: #000000
}
A.blink {
	FONT-SIZE: 12px; FONT-WEIGHT: normal; COLOR: #002859
}
A.blink:hover {
	FONT-SIZE: 12px; FONT-WEIGHT: normal; COLOR: #e10101
}
.blink A {
	FONT-SIZE: 13px; FONT-WEIGHT: bold; COLOR: #545556
}
.blink A:hover {
	FONT-SIZE: 13px; FONT-WEIGHT: bold; COLOR: #3186cf
}
.blink SPAN {
	BACKGROUND: url(images/li.gif) no-repeat 40px center; PADDING-LEFT: 60px
}
.clink A {
	FONT-SIZE: 13px; FONT-WEIGHT: normal; COLOR: #ffffff
}
.clink A:hover {
	FONT-SIZE: 13px; FONT-WEIGHT: normal; COLOR: #cccccc
}
.clink DIV {
	COLOR: #ffffff
}
#footer {
	FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND: url(images/foot_bg.gif) #fff repeat-x left top; LINE-HEIGHT: 20px
}
.footer {
	FONT-SIZE: 12px; COLOR: #4e4f4f; LINE-HEIGHT: normal
}
.listcol {
	OVERFLOW: hidden; WIDTH: auto; COLOR: #333333; LINE-HEIGHT: 2em
}
.listcol P {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 2em; TEXT-INDENT: 2em
}
.listcol IMG {
	MAX-WIDTH: 640px !important; HEIGHT: auto !important
}
.llink A {
	FONT-SIZE: 12px; FONT-FAMILY: "寰杞榛"; FONT-WEIGHT: normal; COLOR: #525252
}
.llink A:hover {
	FONT-SIZE: 12px; FONT-FAMILY: "寰杞榛"; FONT-WEIGHT: normal; COLOR: #000000
}
.postmeta {
	FONT-SIZE: 12px; COLOR: #676767; PADDING-BOTTOM: 10px; LINE-HEIGHT: 2em
}
.article {
	OVERFLOW: hidden; COLOR: #525252; LINE-HEIGHT: 2em
}
.article P {
	FONT-SIZE: 13px; COLOR: #333; LINE-HEIGHT: 2em; TEXT-INDENT: 2em
}
.article IMG {
	MAX-WIDTH: 880px !important; HEIGHT: auto !important
}
.zi1 {
	COLOR: #666666
}
A.tlink {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #b1264f
}
A.tlink:hover {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #80797b
}
.tcon {
	FONT-SIZE: 12px; COLOR: #656565; LINE-HEIGHT: 18px
}
.tcon A {
	FONT-SIZE: 12px; COLOR: #656565; LINE-HEIGHT: 18px
}
.ctag1 A {
	CURSOR: pointer; FONT-SIZE: 14px; HEIGHT: 30px; FONT-WEIGHT: bold; PADDING-LEFT: 21px; DISPLAY: block; LINE-HEIGHT: 30px; PADDING-RIGHT: 21px
}
.otag1 A {
	CURSOR: pointer; FONT-SIZE: 14px; HEIGHT: 30px; FONT-WEIGHT: bold; PADDING-LEFT: 21px; DISPLAY: block; LINE-HEIGHT: 30px; PADDING-RIGHT: 21px
}
.ctag2 A {
	CURSOR: pointer; FONT-SIZE: 14px; HEIGHT: 30px; FONT-WEIGHT: bold; PADDING-LEFT: 21px; DISPLAY: block; LINE-HEIGHT: 30px; PADDING-RIGHT: 21px
}
.otag2 A {
	CURSOR: pointer; FONT-SIZE: 14px; HEIGHT: 30px; FONT-WEIGHT: bold; PADDING-LEFT: 21px; DISPLAY: block; LINE-HEIGHT: 30px; PADDING-RIGHT: 21px
}
.ctag1 A {
	BACKGROUND: url(images/tab_bg01.gif) repeat-x 50% top; COLOR: #ffffff
}
.ctag2 A {
	BACKGROUND: url(images/tab_bg01.gif) repeat-x 50% top; COLOR: #ffffff
}
.otag1 A {
	BACKGROUND: url(images/tab_bg02.gif) repeat-x 50% top; COLOR: #95123a
}
.otag2 A {
	BACKGROUND: url(images/tab_bg02.gif) repeat-x 50% top; COLOR: #95123a
}
UL.bjqs {
	LIST-STYLE-TYPE: none; OVERFLOW: hidden; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; DISPLAY: none; PADDING-RIGHT: 0px
}
LI.bjqs-slide {
	OVERFLOW: hidden; POSITION: absolute; TEXT-ALIGN: center; DISPLAY: none
}
LI.bjqs-slide IMG {
	HEIGHT: 100%; WIDTH: 100%
}
LI.bjqs-slide .ttbg {
	HEIGHT: 40px; WIDTH: 100%; BACKGROUND: #000; POSITION: absolute; FILTER: alpha(opacity=70); Z-INDEX: 0; BOTTOM: 0px; opacity: 0.7
}
UL.bjqs-controls {
	LIST-STYLE-TYPE: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; Z-INDEX: 9999; PADDING-RIGHT: 0px
}
UL.v-centered.bjqs-controls LI A {
	POSITION: absolute
}
UL.v-centered.bjqs-controls LI.bjqs-next A {
	RIGHT: 0px
}
UL.v-centered.bjqs-controls LI.bjqs-prev A {
	LEFT: 0px
}
OL.bjqs-markers {
	LIST-STYLE-TYPE: none; HEIGHT: 30px; RIGHT: 10px; POSITION: absolute; DISPLAY: inline-block; BOTTOM: 5px
}
OL.h-centered.bjqs-markers {
	TEXT-ALIGN: right
}
OL.bjqs-markers LI {
	HEIGHT: 30px; WIDTH: 30px; BACKGROUND: #2b4968; FLOAT: left; FILTER: alpha(opacity=70); MARGIN: 0px 2px; DISPLAY: inline-block; opacity: 0.7
}
OL.bjqs-markers LI.active-marker {
	BACKGROUND: #c00; FILTER: alpha(opacity=90); opacity: 0.9
}
OL.bjqs-markers LI A {
	FONT-SIZE: 14px; HEIGHT: 30px; WIDTH: 30px; FONT-WEIGHT: bold; COLOR: #fff; TEXT-ALIGN: center; DISPLAY: inline-block; LINE-HEIGHT: 30px
}
OL.bjqs-markers LI A:hover {
	COLOR: #f00
}
P.bjqs-caption {
	OVERFLOW: hidden; FONT-SIZE: 14px; HEIGHT: 40px; WIDTH: 360px; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis; POSITION: absolute; COLOR: #fff; TEXT-ALIGN: left; LEFT: 0px; DISPLAY: block; LINE-HEIGHT: 40px; BOTTOM: 0px; TEXT-INDENT: 1em
}
.q {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #666
}
