body, div, address, 
blockquote, iframe, ul, ol, 
dl, dt, dd, li, dl, h1, h2, h3,
 h4, h5, h6, p, pre, table, caption,
  th, td, form, legend, fieldset,
   input, button, select, textarea {
   margin:0; 
   padding:0; 
   font-weight: normal;
   font-style: normal;
   font-size:12px;
   font-family:"微软雅黑",Arial, Helvetica, sans-serif;
}
ol, ul ,li{list-style: none;} 
img {border: 0;} 
.clearfix:after {
	clear:both;
 content:"."; 
 display:block; 
 height:0pt;
  visibility:hidden;
   overflow:hidden;
   } 
.clear{
	clear:both;
    height:1px; 
    margin-top:-1px; 
    width:100%;
    } 
.dis{display:block;} 
.undis{display:none;} 
/*此上面代码是初始CSS模板，下面是新写CSS布局框架代码*/ 
.footer {
	BACKGROUND: #ddd; 
}
.foot {
	WIDTH: 1024px; POSITION: relative; MARGIN: 0px auto
}
.lsfs {
	WIDTH: 350px; FLOAT: left; 
}
.lsfs H2 {
	font-weight:normal;
	
	margin-left:20px;
	FONT-SIZE: 16px;  COLOR: #000; LINE-HEIGHT: 40px;
	padding-top:10px;
}
.weibo H2 {
	font-weight:normal;
	margin-left:10px;
	FONT-SIZE: 16px; COLOR: #000; LINE-HEIGHT: 40px;
	font-family:"微软雅黑",Arial, Helvetica, sans-serif;
}
.lsfs LI {
	WIDTH: 230px; FLOAT: left; COLOR: #686868; LINE-HEIGHT: 19px;
    padding-left:50px;
}
.weibo {
	WIDTH: 220px; 
	FLOAT: left; 
	PADDING-BOTTOM: 0px; 
	PADDING-TOP: 12px;
	PADDING-LEFT: 20px; 
	PADDING-RIGHT: 0px;
	margin-left:100px
}
.wbbtn {
	HEIGHT: 26px; BACKGROUND: url(../images/weibo.png) no-repeat;
	 PADDING-TOP: 8px; PADDING-LEFT: 120px
}
.fgnum {
	FLOAT: right; TEXT-ALIGN: right; PADDING-TOP: 45px
}
.fgnum P {
	HEIGHT: 16px; COLOR: #8d8d8d; LINE-HEIGHT: 16px; PADDING-RIGHT: 7px
}
.fgnum P SPAN {
	FONT-SIZE: 14px; HEIGHT: 16px; 
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	 WIDTH: 16px; VERTICAL-ALIGN: middle;
	  BACKGROUND: #db6666; COLOR: #fff; 
	  TEXT-ALIGN: center; 
	  DISPLAY: inline-block; 
	  MARGIN-RIGHT: 1px
}
.fgnum .fnav {
	PADDING-TOP: 8px; LINE-HEIGHT: 20px
}
.fgnum .fnav A {
	BACKGROUND: url(../images/fline.gif) no-repeat right center; COLOR: #8d8d8d; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px
}
.copyRight {
	BORDER-TOP: #dddddd 1px dotted;
	 WIDTH: 400px; 
	 COLOR: #999;
	  MARGIN: 20px auto 0px;
	   LINE-HEIGHT: 19px
}
.copyRight P {
	PADDING-BOTTOM: 40px; PADDING-TOP: 18px; PADDING-LEFT: 14px; PADDING-RIGHT: 0px
}