body{
	background-color:#ECF5FF;
}
img.first{
	margin:-10px 170px -5px;	
	
}
img.margin{
	margin:4px 170px;
}
#top 
{
list-style-type:none;
overflow:hidden;
margin:0;
margin-top:5px;
margin-left:130px;
border-radius:5px;
}
#top li
{
	float:left
}
#top ol  a:link{
	display:block;
width:143.5px;
color:#FFFFFF;
background-color:#0066CC;
text-align:center;
padding:10px;
text-decoration:none;
}
#top ol  a:visited{
	color:#FFFFFF;
background-color:#0066CC;
}
#top ol a:hover
{
background-color:#0099CC;
}
